<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loading</title>
</head>
<body>
    <div class="container">
        <div class="spinner"></div>
        <h1>Loading Data...</h1>
        <p>Please wait while we load your data.</p>
    </div>

    <br>
    <h1> {{name}} </h1>
        <br>
    <h1> {{age}} </h1>

        <br>
    <h1> {{isActive}} </h1>

        <br>
    <h1> {{dogs}} </h1>

        <br>
    <h1> {{info}} </h1>


</body>
</html>